<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>680857200683-k0dirdhk0sebqigpggnvcc6imu5aj6g1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.680857200683-k0dirdhk0sebqigpggnvcc6imu5aj6g1</string>
	<key>API_KEY</key>
	<string>AIzaSyAoqU_MvYijVtMAKK36v__gMDj1wv-b4f0</string>
	<key>GCM_SENDER_ID</key>
	<string>680857200683</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cosojuego</string>
	<key>PROJECT_ID</key>
	<string>flutterproyect-e2a2b</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterproyect-e2a2b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:680857200683:ios:c4fb0f88b755f301d6626e</string>
</dict>
</plist>